@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap');

html,
body {
    height: 100%;
}
body {
    background-color: $bgColor;
    font-family: 'Noto Sans KR', sans-serif;
}
main {
    width: 100%;
    
}